# Default values for .
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository:	recyclarr/recyclarr
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

# This is for setting the restart policy for the pod more information can be found here: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/
restartPolicy: "OnFailure"

# Namespace to deploy recyclarr
namespace: "plex"

# This is for the secretes for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This is for setting the schedule for the cron job more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/
schedule: "17 19 * * *"

backoffLimit: 6

successfulJobsHistoryLimit: 2
failedJobsHistoryLimit: 2
concurrencyPolicy: "Forbid"

args: "sync"
# There are multiple ways in image maid to configure the script.
# You can use a config map or env variables. 
# Either one is acceptable however do not enable both at the same time.
config:
  env: []
    # # Disables ANSI color output for all recyclarr commands. Note: This does not disable color output to the terminal.
    # - name: "NO_COLOR"
    #   value: "1"
  configMap: 
    enabled: true
    recyclarr:
      # ConfigMap to be used for the recyclarr.yaml config
      name: "recyclarr-config"
      subPath: "recyclarr.yml"
      data: |
        sonarr:
          main:
            base_url: http://sonarr.example.com/
            api_key: YOUR_SONARR_API_KEY
            delete_old_custom_formats: true
            replace_existing_custom_formats: true
            quality_definition:
              type: series
            quality_profiles:
              - name: Anime
                reset_unmatched_scores:
                  enabled: true
                upgrade:
                  allowed: true
                  until_quality: Bluray-1080p
                  until_score: 2000
                min_format_score: 1600
                qualities: 
                  - name: Bluray-1080p
                    qualities:
                      - Bluray-1080p Remux
                      - Bluray-1080p      
                  - name: WEB-1080p
                    qualities:
                      - WEBDL-1080p
                      - WEBRip-1080p
                      - HDTV-1080p
                  - name: Bluray-720p 
                  - name: WEB-720p
                    qualities:
                      - WEBDL-720p
                      - WEBRip-720p
                      - HDTV-720p
                  - name: Bluray-480p
                  - name: WEB-480p
                    qualities:
                      - WEBDL-480p
                      - WEBRip-480p
                  - name: LQ
                    qualities:
                      - DVD
                      - SDTV
              - name: HD - 1080p/720p
                reset_unmatched_scores:
                  enabled: true
                upgrade:
                  allowed: true
                  until_quality: WEBDL-1080p
                  until_score: 1700
                min_format_score: 5
                qualities:        
                  - name: Bluray-1080p
                  - name: WEBDL-1080p
                    qualities:
                      - WEBDL-1080p
                      - WEBRip-1080p
                      - HDTV-1080p
                  - name: Bluray-720p
                  - name: WEBDL-720p
                    qualities:
                      - WEBDL-720p
                      - WEBRip-720p
                      - HDTV-720p    
            custom_formats:
              - trash_ids:
                  - 85c61753df5da1fb2aab6f2a47426b09 # BR-DISK
                  - 9c11cd3f07101cdba90a2d81cf0e56b4 # LQ
                  - e2315f990da2e2cbfc9fa5b7a6fcfe48 # LQ (Release Title)
                  - 47435ece6b99a0b477caf360e79ba0bb # x265 (HD)
                  - fbcb31d8dabd2a319072b84fc0b7249c # Extras
                  - 15a05bc7c1a36e2b57fd628f8977e2fc # AV1
                  - 3bc5f395426614e155e585a2f056cdf1 # Season Packs
                assign_scores_to:
                  - name: Anime  
                  - name: HD - 1080p/720p 
                    score: -10000
        
              - trash_ids:
                  - 949c16fe0a8147f50ba82cc2df9411c9 # Anime BD Tier 01 (Top SeaDex Muxers)
                  - ed7f1e315e000aef424a58517fa48727 # Anime BD Tier 02 (SeaDex Muxers)
                  - 096e406c92baa713da4a72d88030b815 # Anime BD Tier 03 (SeaDex Muxers)
                  - 30feba9da3030c5ed1e0f7d610bcadc4 # Anime BD Tier 04 (SeaDex Muxers)
                  - 545a76b14ddc349b8b185a6344e28b04 # Anime BD Tier 05 (Remuxes)
                  - 25d2afecab632b1582eaf03b63055f72 # Anime BD Tier 06 (FanSubs)
                  - 0329044e3d9137b08502a9f84a7e58db # Anime BD Tier 07 (P2P/Scene)
                  - c81bbfb47fed3d5a3ad027d077f889de # Anime BD Tier 08 (Mini Encodes)
                  - e0014372773c8f0e1bef8824f00c7dc4 # Anime Web Tier 01 (Muxers)
                  - 19180499de5ef2b84b6ec59aae444696 # Anime Web Tier 02 (Top FanSubs)
                  - c27f2ae6a4e82373b0f1da094e2489ad # Anime Web Tier 03 (Official Subs)
                  - 4fd5528a3a8024e6b49f9c67053ea5f3 # Anime Web Tier 04 (Official Subs)
                  - 29c2a13d091144f63307e4a8ce963a39 # Anime Web Tier 05 (FanSubs)
                  - dc262f88d74c651b12e9d90b39f6c753 # Anime Web Tier 06 (FanSubs)
                  - e3515e519f3b1360cbfc17651944354c # Anime LQ Groups
                  - b4a1b3d705159cdca36d71e57ca86871 # Anime Raws
                  - d2d7b8a9d39413da5f44054080e028a3 # v0
                  - 273bd326df95955e1b6c26527d1df89b # v1
                  - 228b8ee9aa0a609463efca874524a6b8 # v2
                  - 0e5833d3af2cc5fa96a0c29cd4477feb # v3
                  - 4fc15eeb8f2f9a749f918217d4234ad8 # v4
                  - 15a05bc7c1a36e2b57fd628f8977e2fc # AV1
                  - 07a32f77690263bb9fda1842db7e273f # VOSTFR
                  - 9c14d194486c4014d422adc64092d794 # Dubs Only
                  - 3e0b26604165f463f3e8e192261e7284 # CR
                  - 1284d18e693de8efe0fe7d6b3e0b9170 # FUNi
                  - 44a8ee6403071dd7b8a3a8dd3fe8cb20 # VRV
                  - 89358767a60cc28783cdc3d0be9388a4 # DSNP
                  - d34870697c9db575f17700212167be23 # NF
                  - d660701077794679fd59e8bdf4ce3a29 # AMZN
                  - d54cd2bf1326287275b56bccedb72ee2 # ADN
                  - 7dd31f3dee6d2ef8eeaa156e23c3857e # B-Global
                  - 4c67ff059210182b59cdd41697b8cb08 # Bilibili
                  - 570b03b3145a25011bf073274a407259 # HIDIVE
                  - a370d974bc7b80374de1d9ba7519760b # ABEMA
                  - d6819cba26b1a6508138d25fb5e32293 # Blueray Tier 01
                  - c2216b7b8aa545dc1ce8388c618f8d57 # Blueray Tier 02
                  - e6258996055b9fbab7e9cb2f75819294 # WEB Tier 01
                  - 58790d4e2fdcd9733aa7ae68ba2bb503 # WEB Tier 02
                  - d84935abd3f8556dcd51d4f27e22d0a6 # WEB Tier 03
                assign_scores_to:
                  - name: Anime
        
              - trash_ids: [418f50b10f1907201b6cfdf881f467b7] # Dual Audio
                assign_scores_to:
                  - name: Anime
                    score: 2000
        
              - trash_ids:
                  - ec8fa7296b64e8cd390a1600981f3923 # Repack/Proper
                  - eb3d5cc0a2be0db205fb823640db6a3c # Repack v2
                  - 44e7c4de10ae50265753082e5dc76047 # Repack v3
                  - d660701077794679fd59e8bdf4ce3a29 # AMZN
                  - f67c9ca88f463a48346062e8ad07713f # ATVP
                  - 77a7b25585c18af08f60b1547bb9b4fb # CC
                  - 36b72f59f4ea20aad9316f475f2d9fbb # DCU
                  - 89358767a60cc28783cdc3d0be9388a4 # DSNP
                  - a880d6abc21e7c16884f3ae393f84179 # HMAX
                  - 7a235133c87f7da4c8cccceca7e3c7a6 # HBO
                  - f6cce30f1733d5c8194222a7507909bb # HULU
                  - 0ac24a2a68a9700bcb7eeca8e5cd644c # iT
                  - 81d1fbf600e2540cee87f3a23f9d3c1c # MAX
                  - d34870697c9db575f17700212167be23 # NF
                  - c67a75ae4a1715f2bb4d492755ba4195 # PMTP
                  - 1656adc6d7bb2c8cca6acfb6592db421 # PCOK
                  - ae58039e1319178e6be73caab5c42166 # SHO
                  - 1efe8da11bfd74fbbcd4d8117ddb9213 # STAN
                  - 9623c5c9cac8e939c1b9aedd32f640bf # SYFY
                  - e6258996055b9fbab7e9cb2f75819294 # WEB Tier 01
                  - 58790d4e2fdcd9733aa7ae68ba2bb503 # WEB Tier 02
                  - d84935abd3f8556dcd51d4f27e22d0a6 # WEB Tier 03
                  - d0c516558625b04b363fa6c5c2c7cfd4 # WEB Scene
                  - 32b367365729d530ca1c124a0b180c64 # Bad Dual Groups
                  - 82d40da2bc6923f41e14394075dd4b03 # No-RlsGroup
                  - e1a997ddb54e3ecbfe06341ad323c458 # Obfuscated
                  - 06d66ab109d4d2eddb2794d21526d140 # Retags
                  - 1b3994c551cbb92a2c781af061f4ab44 # Scene
                assign_scores_to:
                  - name: HD - 1080p/720p

#PVC for config & plex
persistence:
  config:
    # Optionally specify claimName to manually override the PVC to be used for
    # the config directory. If claimName is specified, storageClass and size
    # are ignored.
    # claimName: ""
    # Optionally specify a storage class to be used for the transcode directory.
    # If not specified and claimName is not specified, the default storage
    # class will be used.
    storageClass: ""
    # The requested size of the volume to be used when creating a
    # PersistentVolumeClaim.
    size: 20Gi
    # Access mode for this volume
    accessMode: ReadWriteOnce 
# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: 4
    memory: 8Gi
  requests:
    cpu: 2
    memory: 2Gi

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80


# # Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# # Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}
